// bower:scss
// endbower

@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/compass-breakpoint/stylesheets/_breakpoint.scss";
@import "bower_components/normalize-scss/sass/normalize/_import-now.scss";

@import "base/_base.scss";
@import "specifics/_specifics.scss";

// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: $white;
    font-family: $paragraph-font-family;
    color: $black;
    font-size: 100%;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: $black;
    padding: 0.2em 0;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: $header-font-weight;

}

h1 {
    letter-spacing: .2em;
    font-family: $header-font-family;
}


h2{
    font-family: $header-secondary-font-family;
    letter-spacing: 1px;
    font-size: 2em;
    margin: 23px 0px 27px;
}

h3 {
    font-family: $header-font-family;
    font-size: 1.15em;
    letter-spacing: .1em;
}


p {
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: .5px;
    @include breakpoint($tablet){
        font-size: 16px;
    }
    @include breakpoint($desktop){
        font-size: 18px;
    }
}
nav {
    height: 100px;
    background-color: $white;
    z-index: 10;
    position: relative;
}
header {
    margin-bottom: 27px;
    padding-top: 40px;
}

main {
    @include container(500px);
    @include breakpoint($tablet){
        max-width: 1440px;
    }
}

article {
    position: relative;
}

