// bower:scss
@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/compass-breakpoint/stylesheets/_breakpoint.scss";
@import "bower_components/normalize-scss/sass/normalize/_import-now.scss";
// endbower

@import "base/_base.scss";

body {
  background: white;
  font-family: 'FC Zizou Sans', Helvetica, Arial, sans-serif;
  // line-height: 1.25;
  color: #000;
  font-size: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1, h3 {
  font-family:'FC Kaiser Cond Reg', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}


h2{
  font-family:'FC Kaiser Cond Bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25em;
  margin: 23px 0px 27px;
}

h3 {
  font-size: 1.15em;
  letter-spacing: .1em;
}


p {
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .5px;
}
nav {
  height: 100px;
  background-color: white;
  z-index: 10;
  position: relative;
}
header {
  margin-bottom: 27px;
  padding-top: 40px;
  @include container();
  .header-background {
    z-index: 1;
    background: #fdea72;
    top: -4px;
    height: 475px;
    margin-left: -5%;
    margin-top: 5%;
    overflow: hidden;
    position: absolute;
    transform: skewY(5deg) translateZ(0);
    width: 115%;
  }
  .header-title {
    position: relative;
    z-index: 6;
  }
  .header-description {
    font-family:'FC Kaiser', sans-serif;
    text-transform: uppercase;
    // font-weight: 500;
    font-size: 1.25em;
    letter-spacing: .1em;
    text-align: center;
    margin: 10px 0px 20px;
  }
  h1 {
    font-size: 5.25em;
    text-align: center;
    letter-spacing: .15em;
    margin: 0px;
    span {
      display: inline-block;
      &:first-of-type{
        margin-right: 14px;
      }
    }
  }
  .header-main-article{
    display: none;
  }
  @include breakpoint($tablet){
    margin: 0px;
    padding-top: 50px;
    h1 {
      @include span(11);
      @include push(1);
      font-size: 450%;
      text-align: left;
      letter-spacing: .2em;
      span {
        display: block;
      }
    }
    .header-description {
      display: none;
    }
    .header-main-article{
      @include span(10 of 12 last);
      @include image-aspect-ratio(17, 10, '/images/jessica_alba.jpg');
      display: block;
      z-index: 4;
      transform: translateY(-50px);
      h2 {
        display: inline-block;
        padding: 20px 20px 0px;
        background-color: white;
        position: absolute;
        bottom: 0;
        right: 10%;
        margin: 0px;
        font-size: 3.75em;
        @include span(5 of 10);
        @include push(4);
      }
    }
  }
}

main {
  position: relative;
  padding: 0px 20px;
  z-index: 3;
  @include breakpoint($tablet){
    @include span(9);
    @include push(2);
    transform: translateY(-40px);
    padding: 0px;
  }
}

article {
  h3 {
    span {
      display: inline-block;
      margin-right: 10px;
      border-right: 1px solid black;
      padding-right: 10px;
      height: 21px;
      line-height: 1;
      &:last-of-type {
        margin-right: 0px;
        border-right: none;
        padding-right: 0px;
      }
    }
  }
  .article-link {
    font-weight: 800;
    display: inline-block;
    border-bottom: 3px solid #ced7dd;
    line-height: 1.2em;
    font-size: 1em;
    margin-top: 0px;
    a {
      color: black;
      text-decoration: none;
    }
  }
  .article-socialmedia {
    color: #a7a7a7;
    margin-top: 10px;
    > span {
      display: inline-block;
      border-radius: 50%;
      background-color: #d8d8d8;
      width: 40px;
      height: 40px;
      text-align: center;
      position: relative;
      margin-right: 20px;
      i.fa {
        transform: translate(0, 50%);
        line-height: 1em;
        font-size: 1.2em;
      }
    }
  }
  .article-ad {
    margin: 50px 0px 80px;
    @include image-aspect-ratio(12, 10, '/images/ad.jpg');
  }
  @include breakpoint($tablet){
    @include span(4 of 9 first);
    .article-ad {
      margin-top: 80px;
      width: 60%;
    }
    h1 {
      margin-top: 80px;
    }
  }
}

.article:first-of-type{
  p {
    color: #ec008b;
  }
  .main-image{
    @include image-aspect-ratio(4, 3, '/images/jessica_alba.jpg');
  }
  @include breakpoint($tablet) {
    // @include span(5 of 9 last);
    // transform: translate(0,-25%);
      @include span(4 of 9 last);
    .main-image {
      display: none;
    }
    h2 {
      display: none;
    }
    .article-ad {
      margin-top: 80px;
      // @include span(4 of 5 first);
    }
  }
}

article.article-video {
  @include span(9 of 12 last);
  .article-background {
    background-color: #fde900;
    @include span(8 of 9 first);
    height: 400px;
    position: relative;
    z-index: -1;
  }
  .article-header {
    @include span(4 of 12 first);
    position: absolute;
  }
  @include breakpoint($tablet){
    @include span(9);
  }
}