@font-face {
  font-family: 'FC Kaiser Cond Bold';
  src: url('../fonts/FCKaiserCond-Bold.otf');
}

@font-face {
  font-family: 'FC Kaiser Cond Reg';
  src: url('../fonts/FCKaiserCond-Regular.otf');
}

@font-face {
  font-family: 'FC Kaiser';
  src: url('../fonts/FCKaiser-Medium.otf');
}

@font-face {
  font-family: 'FC Zizou Sans';
  src: url('../fonts/FCZizouSans-Regular.otf');
}	

