//mixin that maintains ratio of images and elements
@mixin image-aspect-ratio($width, $height, $url) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
    background-image: url($url);
    background-size: cover;
  }
}