$header-font-family: 'FC Kaiser Cond Reg', Helvetica, Arial, sans-serif;
$header-alternative-font-family: 'FC Kaiser Cond Bold', Helvetica, Arial, sans-serif;
$header-secondary-font-family: 'FC Kaiser', Helvetica, Arial, sans-serif;
$header-font-weight: normal;

$paragraph-font-family: 'FC Zizou Sans', Helvetica, Arial, sans-serif;